	

body{
	background-image: url("../../assets/images/background.jpg");
	margin: 0 auto;
	overflow-y: scroll;
	overflow-x: hidden;

}

.img{

	display: block;
    margin: auto;
    width: 40%;
    color: black;

}

