	

body{
	background-image: url("../../assets/images/background.jpg");
	margin: 0 auto;
	overflow-y: scroll;
	overflow-x: hidden;

}

.img{

	display: block;
    margin: auto;
    width: 40%;
    color: black;

}



.instructions{
	margin: 0 0 0 20px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    float:right;
	

}



